@import "./index.scss";

.job-main-blue {
    color :$job-main-blue;
}

.main-gray {
    color: $main-font;
}

.a-gray {
    color: $main-font;
    &:hover {
        color: #31698C !important;
    }
}

.button-primary {
    background-color: $job-main-blue !important;
    border-color: #31698C !important;

    &:hover {
        background-color: #31698C !important;
        
    }
}

.button-primary-orange {
    background-color: $main-orange !important;
    border-color: $main-orange !important;
    color: #fff !important;
    &:hover {
        background-color: $main-orange !important;
        
    }
}

.font-white {
    color: #fff;
}


.button-primary-outline {
    border-color: $job-main-blue !important;
    color : $job-main-blue !important;
    &:hover {
        background-color: #31698C !important;
        color : #fff !important;
    }
}

.bg-job-main-blue {
    background-color: $job-main-blue;
}