@import "./index.scss";

.main-blue {
    color :$main-blue;
}

.main-gray {
    color: $main-font;
}

.a-gray {
    color: $main-font;
    &:hover {
        color: #31698C !important;
    }
}

.button-primary {
    background-color: $main-blue !important;
    border-color: #31698C !important;

    &:hover {
        background-color: #31698C !important;
        
    }
}


.button-primary-outline {
    border-color: $main-blue !important;
    color : $main-blue !important;
    &:hover {
        background-color: #31698C !important;
        color : #fff !important;
    }
}